
<div class=" content">
    <div class=" row">
      <div class=" col-12">
        <div class=" card card-chart">

<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <!-- content-header component -->
      <!-- <app-content-header [contentHeader]="contentHeader"></app-content-header> -->
      <!-- / Subject Form section start -->
      <div class="card" *ngIf="displayForm">
        <div class="card-body"  style="border:solid 1px red  ;">
            <section id="multiple-column-form">
                <div class="row match-height" >
                    <div class="col-12" >
                        <!-- <h4 class="card-title">{{operation}} Record</h4> -->
                        <div class="card-body">

                            <form class="form" role="form" #form="ngForm" (ngSubmit)="processForm(e)" >
                                <!-- <input type="hidden" [(ngModel)]="apiModel.id" name="id" /> -->
                                <h6 style="color:gray ;">Profile<hr></h6>
                                <div class="form-body">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="FullName"
                                                    [class.text-danger]="FullName.invalid && FullName.touched">Full Name
                                                </label> 
                                                <input type="text" style="background-color: white ;" maxlength="50" id="FullName" name="name"
                                                    #FullName="ngModel" [(ngModel)]="apiModel.profile.name" 
                                                    class="form-control"   disabled>
                                               
                                            </div>
                                        </div>
 
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Email"
                                                   >Email
                                                </label> 
                                                <input type="text" style="background-color: white ;" maxlength="50" id="Email" name="email" #Email="ngModel"
                                                    [(ngModel)]="apiModel.email" 
                                                    class="form-control"    disabled>
                                                
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-body">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="PhoneNumber"
                                                     >Phone Number
                                                </label> 
                                                <input type="text" style="background-color: white ;" maxlength="50" id="PhoneNumber" name="PhoneNumber"
                                                    #PhoneNumber="ngModel" [(ngModel)]="apiModel.profile.phone_number"
                                                    
                                                    class="form-control"   disabled>
                                                 
                                            </div>
                                        </div>
 
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="DateOfBirth">Date Of Birth
                                                </label> 
                                                <input type="text" style="background-color: white ;" maxlength="50" id="DateOfBirth" name="profile.dob" #DateOfBirth="ngModel"
                                                    [(ngModel)]="apiModel.profile.dob"
                                                    class="form-control"   disabled>
                                                 
                                            </div>
                                        </div>

                                    </div>
                                </div>

                               
                                 <!-- /*Groups Start*/ -->
                                <div class="form-body">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Group">Group
                                                </label> 
                                                <input type="text" style="background-color: white ;"  id="group.group_name" name="group.group_name" #Group="ngModel"
                                                    [(ngModel)]="apiModel.group.group_name"
                                                    class="form-control"   disabled>
                                                 
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Gender">Gender
                                                </label> 
                                                <input type="text" style="background-color: white ;"  id="profile.gender" name="profile.gender" #DateOfBirth="ngModel"
                                                    [(ngModel)]="apiModel.profile.gender"
                                                    class="form-control"   disabled>
                                                 
                                            </div>
                                        </div>
 
                                        
                                    </div>
                                </div>

                                 <div class="form-actions right mb-0 pb-0">
                                    <button type="button" class="btn btn-warning mr-1 btn-sm shadow-sm btn-small" (click)="hideForm()">

                                        Close
                                    </button>
                                    <!--
                                    <button type="submit" class="btn btn-primary btn-sm shadow-sm btn-small" [disabled]="form.invalid">

                                        {{operation}}
                                    </button> -->
                                </div>  
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Subject Form section end -->
    <!-- <div class="card"> -->
      <!-- <div class="card-header">
          <h4 class="float-left mb-0 font-weight-bolder">
              <strong>List of Records</strong>
          </h4> -->
          <!-- <div class="float-right border-radius-lg">
              <button class="btn btn-gradient-primary btn-sm btn-small" rippleEffect (click)="addItem()">
                  <i  _ngcontent-tix-c35="" class="icon-simple-add tim-icons"></i>
                  <span class="d-none d-sm-inline-block">Add New
                      Record</span>
              </button>
         </div>   -->

    
      <!-- /.box-header -->
      <div class="card-content collapse show">
          <div class="card-body"  style="border:solid 1px red  ;">
              <div class="table-responsive"> 
     

                     <dx-data-grid  style="background-color: #1e1e2f" class="dx-card wide-card border border-danger border-50" [dataSource]="addUserResources"
                      [showBorders]="true" [visible]="true" placeholder="Search..." [showColumnLines]="true"
                      [showRowLines]="true" [rowAlternationEnabled]="true" keyExpr="id" [focusedRowEnabled]="true"
                      [focusedRowIndex]="0" [columnAutoWidth]="true" [allowColumnReordering]="true"
                      [allowColumnResizing]="true" [columnAutoWidth]="true" [columnHidingEnabled]=false>
                      <dxo-paging [pageSize]="10"></dxo-paging>
                      <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
                      <dxo-filter-row [visible]="true"></dxo-filter-row>
                      <!-- <dxi-column dataField="id" caption="ID"></dxi-column> -->
                      <dxi-column dataField="profile.name" caption="Admin Name"></dxi-column>
                      <dxi-column dataField="profile.gender" caption="Gender"> </dxi-column>
                      <dxi-column dataField="email" caption="Email"> </dxi-column>   
                      <dxi-column dataField="profile.phone_number" caption="Phone Number"> </dxi-column>
                      <dxi-column dataField="group.group_name" caption="Group Name"> </dxi-column>
                      
                      
 
                      <dxi-column type="buttons" fixed=true> 
                      <dxi-button  class="icon-badge" text="View" [onClick]="loadItem"></dxi-button> 
                      </dxi-column>
                  </dx-data-grid>
             </div>
          </div>
      </div>   
      <!-- end box-body -->
  <!-- </div> -->
    </div>
</div>

</div>
</div>
</div>
</div> 