
<div class=" content">
    <div class=" row">
      <div class=" col-12">
        <div class=" card card-chart">

<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <!-- content-header component -->
      <!-- <app-content-header [contentHeader]="contentHeader"></app-content-header> -->
      <!-- / Subject Form section start -->
      <div class="card" *ngIf="displayForm">
        <div class="card-body" style="border:solid 1px red  ;">
            <section id="multiple-column-form">
                <div class="row match-height">
                    <div class="col-12">
                        <!-- <h4 class="card-title">{{operation}} Record</h4> -->
                        <div class="card-body">

                            <form class="form" role="form" #form="ngForm" (ngSubmit)="processForm(e)">
                                <!-- <input type="hidden" [(ngModel)]="apiModel.id" name="id" /> -->
                                <h6 style="color:gray ;">Create New Group<hr></h6>
                               

                                 <!-- /*Groups Start*/ --> <div class="form-body">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="AdminID"
                                                    [class.text-danger]="AdminID.invalid && AdminID.touched">Admin ID
                                                </label><i class="text-danger">*</i>
                                                <select type="text" maxlength="50" id="profile.name" name="name"
                                                    #AdminID="ngModel" [(ngModel)]="apiModel.name"
                                                    [class.is-invalid]="AdminID.invalid && AdminID.touched"
                                                    class="form-control" placeholder="Enter Admin ID..." required></select>
                                                <div *ngIf="AdminID.invalid && AdminID.touched">
                                                    <small *ngIf="AdminID.errors?.required" class="text-danger">Admin ID is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>
 
                                        
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="GroupName"
                                                    [class.text-danger]="GroupName.invalid && GroupName.touched">GroupName
                                                </label><i class="text-danger">*</i>
                                                <input type="text" style="background-color: white ;" maxlength="50" id="group_name" name="group_name" #GroupName="ngModel"
                                                    [(ngModel)]="apiModel.group_name"
                                                    [class.is-invalid]="GroupName.invalid && GroupName.touched"
                                                    class="form-control" placeholder="Enter GroupName..." required>
                                                <div *ngIf="GroupName.invalid && GroupName.touched">
                                                    <small *ngIf="GroupName.errors?.required" class="text-danger">GroupName is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-actions right mb-0 pb-0">
                                    <button type="button" class="btn btn-warning mr-1 btn-sm shadow-sm btn-small" (click)="hideForm()">

                                        Cancel
                                    </button>
                                    <button type="submit" class="btn btn-primary btn-sm shadow-sm btn-small" [disabled]="form.invalid">

                                        {{operation}}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Subject Form section end -->
    <!-- <div class="card"> -->
      <!-- <div class="card-header">
          <h4 class="float-left mb-0 font-weight-bolder">
              <strong>List of Records</strong>
          </h4> -->
          <!-- <div class="float-right border-radius-lg">
              <button class="btn btn-gradient-primary btn-sm btn-small" rippleEffect (click)="addItem()">
                  <i  _ngcontent-tix-c35="" class="icon-simple-add tim-icons"></i>
                  <span class="d-none d-sm-inline-block">Add New
                      Record</span>
              </button>
         </div>   -->

    
      <!-- /.box-header -->
      <div class="card-content collapse show">
          <div class="card-body" style="border:solid 1px red  ;">
              <div class="table-responsive"> 
     

                     <dx-data-grid class="dx-card wide-card border border-danger border-50" [dataSource]="groupResources"
                      [showBorders]="true" [visible]="true" placeholder="Search..." [showColumnLines]="true"
                      [showRowLines]="true" [rowAlternationEnabled]="true" keyExpr="id" [focusedRowEnabled]="true"
                      [focusedRowIndex]="0" [columnAutoWidth]="true" [allowColumnReordering]="true"
                      [allowColumnResizing]="true" [columnAutoWidth]="true" [columnHidingEnabled]=false>
                      <dxo-paging [pageSize]="10"></dxo-paging>
                      <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
                      <dxo-filter-row [visible]="true"></dxo-filter-row> 
                      <!-- <dxi-column dataField="id" caption="ID"> </dxi-column> -->
                      <!-- <dxi-column dataField="profile.name" caption="Admin Name"> </dxi-column> -->
                      <dxi-column dataField="group_name" caption="Group Name"></dxi-column> 

                      <!-- <dxi-column type="buttons" fixed=true>
                      <dxi-button icon="edit" text="Edit" [onClick]="loadItem"></dxi-button>
                      <dxi-button icon="trash" text="Delete" [onClick]="deleteItem">
                      </dxi-button>
                      </dxi-column> -->
                  </dx-data-grid>
             </div>
          </div>
      </div>   
      <!-- end box-body -->
  <!-- </div> -->
    </div>
</div>

</div>
</div>
</div>
</div> 

