

<div class="text-center" style="background-image:url(../../assets/img/not-authorized.png); background-repeat: no-repeat; padding-top: 10%; margin-top: 10%; background-position:
 center center; background-size:contain; align-items: center ">
 
</div>
<div style="align-items: center ;"class="text-center">
    <h1 style="color: red; position: center center; "><b>Not-authorized!</b></h1>
   
       <div class="form-actions"class="text-center"> 
           <button style=" position: center center; " type="" (click)="backclick()" class="btn btn-danger btn-sm shadow-sm" > 
               Back
           </button>
       </div>
       </div>