<div class=" content">
    <div class=" row">
        <div class=" col-12">
            <div class=" card card-chart">

                <div class="content-wrapper container-xxl p-0">
                    <div class="content-body">
                        <!-- content-header component -->
                        <!-- <app-content-header [contentHeader]="contentHeader"></app-content-header> -->
                        <!-- / Subject Form section start -->
                        <div class="card" *ngIf="displayForm">
                            <div class="card-body" style="border:solid 1px red  ;">
                                <section id="multiple-column-form">
                                    <div class="row match-height">
                                        <div class="col-12">
                                            <!-- <h4 class="card-title">{{operation}} Record</h4> -->
                                            <div class="card-body">

                                                <form class="form" role="form" #form="ngForm"
                                                    (ngSubmit)="processForm(e)"> 
                                                    <h6 style="color:gray ;">Assign Admin
                                                        <hr>
                                                    </h6>
                                                    <div class="row">
                                                     <div class="form-group col-md-6">
                                                                <label class="form-label" for="group_id"
                                                                    [class.text-danger]="group_id.invalid &amp;&amp; group_id.touched">Group<i
                                                                        class="text-danger">*</i></label>
                                                                <ng-select [items]="groupsResources" #group_id="ngModel"
                                                                style="background-color: white; color:black" placeholder="Select Group"
                                                                    required [closeOnSelect]="true" [searchable]="true"
                                                                    bindLabel="group_name" bindValue="id"
                                                                    name="group_id" id="group_id"
                                                                    placeholder="Select Group . . ."
                                                                    [(ngModel)]="apiModel.group_id"
                                                                    [class.error]="!group_id.valid && group_id.touched">
                                                                    <ng-template ng-label-tmp let-item="item"
                                                                        let-clear="clear">
                                                                        <span class="ng-value-label"> {{ item.group_name}}</span>
                                                                        <span class="ng-value-icon right"
                                                                            (click)="clear(item)"
                                                                            aria-hidden="true">×</span>
                                                                    </ng-template>
                                                                </ng-select>

                                                                <div
                                                                    *ngIf="group_id.invalid &amp;&amp; group_id.touched">
                                                                    <span *ngIf="group_id.invalid" class="invalid-form">
                                                                        <small class="form-text text-danger"
                                                                            *ngIf="group_id.errors.required">Group is
                                                                            required!</small>
                                                                    </span>
                                                                </div>
                                                            </div>

                                                             <div class="form-group col-md-6">
                                                                <label class="form-label" for="Admin"
                                                                    [class.text-danger]="Admin.invalid &amp;&amp; Admin.touched">Admin<i
                                                                        class="text-danger">*</i></label>
                                                                <ng-select [items]="addUserResources" #Admin="ngModel"
                                                                style="background-color: white; color:black" placeholder="Select Admin"
                                                                    required [closeOnSelect]="true" [searchable]="true"
                                                                    bindLabel="profile.name" bindValue="id"
                                                                    name="user_id" id="id"
                                                                    placeholder="Select Admin . . ."
                                                                    [(ngModel)]="apiModel.user_id"
                                                                    [class.error]="!Admin.valid && Admin.touched">
                                                                    <ng-template ng-label-tmp let-item="item"
                                                                        let-clear="clear">
                                                                        <span class="ng-value-label"> {{ item.profile.name}}</span>
                                                                        <span class="ng-value-icon right"
                                                                            (click)="clear(item)"
                                                                            aria-hidden="true">×</span>
                                                                    </ng-template>
                                                                </ng-select>

                                                                <div
                                                                    *ngIf="Admin.invalid &amp;&amp; Admin.touched">
                                                                    <span *ngIf="Admin.invalid" class="invalid-form">
                                                                        <small class="form-text text-danger"
                                                                            *ngIf="Admin.errors.required">Admin is
                                                                            required!</small>
                                                                    </span>
                                                                </div>
                                                            </div> 
                                                            </div>
                                        <div class="form-actions right mb-0 pb-0">
                                            <!-- <button type="button" class="btn btn-warning mr-1 btn-sm shadow-sm btn-small" (click)="hideForm()">

                                        Cancel
                                    </button> -->
                                            <button type="submit" class="btn btn-primary btn-sm shadow-sm btn-small"
                                                [disabled]="form.invalid">

                                                {{operation}}
                                            </button>
                                        </div>
                                        </form>
                                    </div>
                            </div>
                        </div>
                        </section>
                    </div>
                </div>
                <!-- Subject Form section end -->

            </div>
        </div>

    </div>
</div>
</div>
</div>